body {
    font-family: 'Arial', sans-serif;
    margin: 100px;
    text-align: center;
}

header {
    background-color: #fe3919;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0;
}

section {
    margin-bottom: 20px;
    text-align: left;
}

img {
    max-width: 20%;
    height: auto;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    overflow: hidden; /* To ensure the image stays within the rounded border */
}

ul {
    list-style-type: none;
    padding: 5;
}

ul li {
    margin-bottom: 5px;
}

/* Add more styles as needed */
