body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0;
}

section {
    margin-bottom: 20px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

/* Add more styles as needed */
